<td [ngxClipboard]="inputTarget">
  <span class="hidden-copy-name" #inputTarget>{{serie.fullDisplayName}}</span>
  <img class="serie-image" src="{{serie.image}}"/>
</td>
<td [ngxClipboard]="inputTarget">{{serie.serieName}}</td>
<td [ngxClipboard]="inputTarget">{{serie.episodeName}}</td>
<td [ngxClipboard]="inputTarget">{{serie.seasonAndEpisode}}</td>
<td [ngxClipboard]="inputTarget">{{serie.airDay}}</td>
<td [ngxClipboard]="inputTarget">{{serie.airDate}}</td>
<td><a href="https://rarbg.to/torrents.php?search={{serie.serieName}}+{{serie.seasonAndEpisode}}" target="_blank">RARBG</a></td>
