.serie-image{
  height: 30%;
}

.hidden-copy-name {
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  font-size: 0;
}

td{
  font-size: 150%;
}

.serie{
  width: 80%;
  margin: auto;
}
